@using Microsoft.AspNetCore.Identity
@using MasterThesisPlatform.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var fileContents = ViewData["filesList"] as List<MasterThesisPlatform.Models.MongoDBScript>;
}

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    if (user.Role.Equals("Developer"))
    {

        foreach (var item in fileContents)
        {
            <hr />
            <p>@item.ComponentName</p>
            <p>@item.ComponentSuperName</p>
            <p>@item.Category</p>
            <p>@item.ComponentContent</p>
            <hr />
        }

        <form method="post" enctype="multipart/form-data" asp-controller="Developer" asp-action="UploadComponentAsync">
            <input type="text" id="category" name="categoryDefinition" placeholder="Put Category for Files" />
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="files" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>

    }
    else
    {
        <h1>You shouldn't be here</h1>

    }


}
else
{
    <h1>No login detected</h1>

}