@using Microsoft.AspNetCore.Identity
@using MasterThesisPlatform.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <h1>@user.Email</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript">

        $.ajax({
            method: "POST",
            url: "http://localhost:5000",
            crossDomain: true,
            data: { "email": "@user.Email", "gameName": "testGame" },
            success: function (data, textStatus) {
                console.log(data);
                window.location.href = "http://localhost:5000";
            },
            error: function (err) {
                console.log(err);
            }
        });

    </script>
}

