@using Microsoft.AspNetCore.Identity
@using MasterThesisPlatform.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    if (user.Role.Equals("Student"))
    {
        <h1>This is the student page</h1>
        <div class="row">
                <ul class="nav nav-pills nav-stacked">
                    <li><a asp-area="" asp-controller="Student" asp-action="Game">Start Game</a></li>
                </ul>
        </div>
    }
    else
    {
        <h1>You shouldn't be here</h1>

    }


}
else
{
    <h1>No login detected</h1>

}