@using Microsoft.AspNetCore.Identity
@using MasterThesisPlatform.Data;
@model IEnumerable<MasterThesisPlatform.Models.Game>
@{
    ViewBag.Title = "Index";
}


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    if (user.Role.Equals("Student"))
    {
        <br />
        <div class="row">
            <table class="table table-bordered" style="width:600px">
                <thead>
                    <tr>
                        <th>
                            Game name:
                        </th>
                        <th>
                            Author:
                        </th>
                        <th>
                            Player Capacity:
                        </th>
                        <th>
                            Play
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in Model)
                    {
                        if (game.Author.Equals(user.Teacher))
                        {


                            <tr>
                                <td>
                                    @game.Name
                                </td>
                                <td>
                                    @game.Author
                                </td>
                                <td>
                                    @game.Capacity
                                </td>
                                <td>
                                    <a href="@game.GameId">Play</a>
                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>


        </div>

    }









else
{
    <h1> You shouldn't be here</h1>

}


        }
        else
        {
<h1>No login detected</h1>

        }