@model MasterThesisPlatform.Models.MongoDBGame
@{
    ViewData["Title"] = "Delete";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Teacher" asp-action="StudentsPage">Student List</a></li>
                <li><a asp-area="" asp-controller="Teacher" asp-action="CreateMongoDbGameEntry">Create New Game</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>

<h4>Delete Customer</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="DeleteMongoDbGameEntry">
            <label class="control-label">Are you sure to delete </label> <input asp-for="GameId" class="form-control" readonly />
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>  