@model MasterThesisPlatform.Models.MongoDBGame
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Edit";
}
<h2>Edit Game Details</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMongoDbGameEntry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameId" class="control-label"></label>
                <input asp-for="GameId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Components" class="control-label"></label>
                <input asp-for="Components" class="form-control" />
                <span asp-validation-for="Components" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
