@using Microsoft.AspNetCore.Identity
@using MasterThesisPlatform.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<h1>This is the teacher page</h1>

}

else
{
    <h1>You shouldn't be here</h1>
}