/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.palette-wrapper{
    height:100px;
}

.palette-categories{
    float:left;
    width:20%;
    height:100%;
    border:solid 1px;
    overflow-y: auto;
}

.palette-elements {
    float: right;
    width: 80%;
    height: 100%;
    border: solid 1px;
    overflow-y: auto;
}

.palette-category-item{
    border:solid 1px;
}

.palette-category-item p {
    text-align:center;
    transform: translate(2%, 25%);
}

.building-canvas canvas {
    width: 800px;
    height: 600px;
    border: 2px solid black;
    float:left;
}

.palette-elements button[id="buttonAddToCanvas"] {
    background-color: white; 
    border: none;
    color: black;
    width:24.6%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 4px;
    border: solid 1px;
    margin-right:3px;
    margin-bottom: 3px;
}

.buildmode-optionsAndInfo {
    float: left;
    width: 25%;
    margin-left: 3%;
}

.buildmode-options{
    width:100%;
    height: 400px;
    border:solid 1px;
    overflow: auto;
}

.buildmode-options-heading h5{
    text-align: center;
}

@media screen and (max-width: 1199px) {
    .palette-elements button[id="buttonAddToCanvas"] {
        width:32%;
    }

    .buildmode-optionsAndInfo {
        width:10%
    }
}

@media screen and (max-width: 992px){
    .buildmode-optionsAndInfo {
        width: 100%
    }
}


